p {
  color:blue;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
}

.box {
  height: 100px;
  width: 200px;
  position: relative;
  display: inline-block;
  border-style: solid;
  border-width: 10px;
}

#red-box {
  background-color: red;
  border-color: green;
}

#yellow-box {
  background-color: yellow;
  left: 20px;
  border-color:red;
}

#green-box {
  background-color: green;
  left: 40px;
  border-color:yellow;
}
